@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body {
  height: 100vh;
  padding: 0%;
  margin: 0%;
}
.body {
  height: 100%;
}
.main {
  background-color: #212121;
  height: 100%;
  display: flex;
}
.textdiv {
  display: flex;
  align-items: center;
  height: 100%;
}
.text {
  color: white;
  font-weight: 500;
  font-family: 'Source Code Pro', monospace;
}
h1 {
  font-size: 40px;
}
.about {
  position: absolute;
  right: 25%;
  width: 20vw;
}
.img {
  display: flex;
  position: absolute;
  left: 25%;
  height: 100%;
  align-items: center;
}
.setup {
  display: flex;
  position: absolute;
  left: 25%;
  height: 100%;
  width: 20vw;
  align-items: center;
  margin-bottom: 40px;
}
.button {
  font-family: 'Material Icons';
  color: white;
  font-size: 30px;
  width: 50px;
  height: 50px;
  position: absolute;
  box-shadow: 10px 10px 5px -8px #00000030;
  top: 0.5%;
  right: 0.5%;
  background-color: #171717;
  border-radius: 50%;
  border: 0px;
}
b {
  font-weight: 700;
}
.navbaricon {
  font-family: 'Material Icons';
  font-size: 30px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.github {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar {
  align-self: center;
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 10px 10px 5px -8px #00000030;
  background-color: #424242;
  height: 60px;
  width: 100%;
}
a {
  text-decoration: none;
}
