@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;900&display=swap');
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--white: #f3f6f6;
	--black: #1e1b1a;
}
html {
	font-family: 'Source Code Pro', monospace;
	overflow-y: hidden;
}

h1 {
	font-size: 2.4rem;
}
p {
	font-size: 1.1rem;
}
main {
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 5vw;
	padding-top: 0;
}
article {
	display: flex;
	flex-direction: column;
}
img {
	height: 50px;
}
