@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.main-light {
  background-color: #eeeeee;
  height: 100%;
}

.text-light {
  font-display: swap;
  color: black;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.button-light {
  font-family: 'Material Icons';
  color: black;
  font-size: 30px;
  width: 50px;
  height: 50px;
  position: absolute;
  box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.18);
  top: 0.5%;
  right: 0.5%;
  background-color: #e0e0e0;
  border-radius: 50%;
  border: 0px;
}
