@import url( 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}
h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.projects {
    display: flex;
}
#projects > div {
    background-color: gray;
    width: 25vh;
    height: 25vh;
    margin: 25px;
    border-radius: 10px;
}
body {
    padding: 0;
    margin: 0;
}
#main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
    background-image: linear-gradient(124deg, rgba(0,0,0,0.89) 0%, rgba(46,46,46,1) 100%);
}
#separator-main {
display: flex;
flex-direction: row;
.background-color: rgba(46,46,46,0.91);
height: 30px;
  width: 100%;
 
}
p {
    color: white;
    font-family: 'Roboto', sans-serif;
}
