@import url( 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}
h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.projects > div {
  width: 25% - 25px;
    height: 25% - 25px;
  margin: 25px;
  border-radius: 10px;
}
  
