:root {
    --navdark: #18191c;
    --bg: #202225;
    --primary: #5865f2;
    --secondary: #4287ff;
}

html {
    background-color: var(--bg);
}

body {
    margin-top: 9vh !important;
    margin: 0;
}

.App {
    height: 90vh;
    width: 99vw;
}

header {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
}